@import 'styles/variables/colors.scss';
@import 'styles/variables/sizes.scss';

.truth-tables {
  display: flex;
  flex-direction: column;
  gap: $big-padding;

  &_form {
    display: flex;
    gap: $big-padding;
    align-items: center;

    .text-input {
      flex: 1 1 auto;
    }

    .formula-preview {
      margin-bottom: 0;
      flex: 1 1 auto;
    }

    .button {
      flex: 0 0 8rem;
    }
  }
}
