@import 'styles/variables/colors.scss';
@import 'styles/variables/sizes.scss';

.truth-tables {
  display: flex;
  flex-direction: column;
  gap: $big-padding;

  &_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: $big-padding;

    .formula-preview {
      margin-bottom: 0;
    }
  }
}
