@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizes.scss';

.formula {
  font-family: $Monospace;

  &__wrapper {
    display: inline-flex;
  }

  &__indentation {
    background-color: $light-strong-accent-color;
    margin-right: $default-margin;

    &_dark {
      background-color: $dark-strong-accent-color;
    }
  }

  &__operator {
    color: $light-operator-color;
    font-weight: bold;
  }

  &__parentheses {
    color: $light-parentheses-color;
  }

  &_dark {
    .formula__operator {
      color: $dark-operator-color;
    }

    .formula__parentheses {
      color: $dark-parentheses-color;
    }
  }
}
