@import 'styles/sizes.scss';
@import 'styles/colors.scss';

.checkbox-input {
  padding: $default-padding 0;

  // Hide the default checkbox
  &__default {
    display: none;
  }

  // Add custom styles for the checkbox label
  &__label {
    font-size: $base-font-size;
    display: flex;
    align-items: center;
    padding: 0;

    &:hover {
      text-shadow: $light-text-shadow;
    }

    &::before {
      margin-right: $default-margin;
      padding-bottom: 0.125rem;
      color: $light-strong-accent-color;
    }

    &_dark {
      &::before {
        color: $dark-strong-accent-color;
      }

      &:hover {
        text-shadow: $dark-text-shadow;
      }
    }
  }
}
