@import 'styles/colors.scss';
@import 'styles/sizes.scss';
@import 'styles/mixins/text-styles.scss';
@import 'styles/mixins/input-styles.scss';

.select {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  box-shadow: $light-button-shadow;

  // Dark colors
  &_dark {
    box-shadow: $dark-button-shadow;
  }

  &__field {
    outline: none;
    border: none;
    border-radius: $border-radius;
    font-family: $Monospace;
    font-size: $small-font-size;
    padding: $small-padding;
    cursor: pointer;
    background-color: $light-background-color;
    color: $light-font-color;

    &_dark {
      color: $dark-font-color;
      background-color: $dark-background-color;
    }
  }
}
