@import 'styles/sizes.scss';
@import 'styles/mixins/scrollbar-styles.scss';
@import 'styles/fonts.scss';

.direct-proofs-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__table {
    margin-bottom: $big-margin;

    td.table__cell {
      font-family: $Monospace;
    }

    & > table > tbody > tr > td:nth-child(3n) {
      text-align: left;
      max-width: 51vw;
      overflow-x: auto;
    }
  }

  &__toolbar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: $default-margin;
    row-gap: $big-margin;
    align-items: center;
    justify-items: center;
  }

  &__filler {
    margin-top: $big-margin;
  }
}
