@import 'styles/sizes.scss';

.confirm-delete-popup {
  padding: $default-padding;
  min-width: $min-popup-form-width;
  display: flex;
  flex-direction: column;
  max-height: $max-popup-height;

  &__text {
    margin-bottom: $default-margin * 2;
  }

  &__formula {
    margin-bottom: $default-margin;
    display: flex;
    align-items: baseline;
    gap: $default-margin;
  }

  &__button {
    margin-top: $default-margin * 2;
  }
}
