// Light theme colors
$light-font-color: hsl(224, 26%, 17%);
$light-strong-accent-color: hsl(3, 92%, 69%);
$light-weak-accent-color: hsl(62, 64%, 56%);
$light-background-color: hsl(144, 16%, 94%);
$light-modal-background-color: rgba(87, 196, 229, 0.2);
$light-foreground-color: hsla(194, 73%, 62%, 0.3);
$light-box-shadow: 0.25rem 0.5rem 0.5rem hsla(224, 26%, 17%, 0.3);
$light-button-shadow: 0.125rem 0.25rem 0.25rem hsla(224, 26%, 17%, 0.3);
$light-text-shadow: 0.125rem 0.25rem 0.25rem hsl(62, 64%, 56%);
$light-outline: hsl(62, 64%, 56%) dashed 0.125rem;
$light-border: hsl(62, 64%, 56%) solid 0.01rem;
$light-weak-border: hsla(194, 73%, 62%) solid 0.01rem;

// Dark theme colors
$dark-font-color: hsl(77, 100%, 89%);
$dark-background-color: hsl(41, 100%, 3%);
$dark-modal-background-color: hsla(45, 30%, 18%, 0.2);
$dark-foreground-color: hsl(45, 31%, 18%);
$dark-weak-accent-color: hsl(88, 60%, 50%);
$dark-strong-accent-color: hsl(140, 100%, 57%);
$dark-box-shadow: 0.25rem 0.5rem 0.5rem hsl(167, 27%, 72%);
$dark-button-shadow: 0.125rem 0.25rem 0.25rem hsl(167, 27%, 72%);
$dark-text-shadow: 0.125rem 0.25rem 0.25rem hsl(194, 73%, 65%);
$dark-outline: hsl(88, 60%, 50%) dashed 0.125rem;
$dark-border: hsl(88, 60%, 50%) solid 0.01rem;
$dark-weak-border: hsl(45, 31%, 18%) solid 0.01rem;

// Syntax highlighting colors
$light-operator-color: hsl(3, 98%, 64%);
$light-parentheses-color: hsl(194, 73%, 62%);

$dark-operator-color: hsl(140, 60%, 60%);
$dark-parentheses-color: hsl(194, 73%, 65%);
