$Regular: 'Steppe', sans-serif;
$Monospace: 'DitaRegular', monospace;
$Monospace-bold: 'DitaBold', monospace;

/* Webfont: Steppe-Regular */
@font-face {
  font-family: 'Steppe';
  src: url('/src/assets/fonts/steppe/Steppe.woff2') format('woff2'), url('/src/assets/fonts/steppe/Steppe.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

/* Webfont: DitaGroteskMonoDEMO-Regular */
@font-face {
  font-family: 'DitaRegular';
  src: url('/src/assets/fonts/dita/AF-DitaGroteskMonoDEMO-Regular.woff') format('woff'),
    url('/src/assets/fonts/dita/AF-DitaGroteskMonoDEMO-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

/* Webfont: DitaGroteskMonoDEMO-Bold */
@font-face {
  font-family: 'DitaBold';
  src: url('/src/assets/fonts/dita/AF-DitaGroteskMonoDEMO-Bold.woff') format('woff'),
    url('/src/assets/fonts/dita/AF-DitaGroteskMonoDEMO-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
