/* Webfont: Steppe-Regular */
@font-face {
  font-family: 'Steppe';
  src: url('/assets/fonts/Steppe.woff2') format('woff2'), /* Modern Browsers */ url('/assets/fonts/Steppe.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
