$Regular: 'Steppe', sans-serif;
$Monospace: 'Monospaceland', monospace;

/* Webfont: Steppe-Regular */
@font-face {
  font-family: 'Steppe';
  src: url('/src/assets/fonts/steppe/Steppe.woff2') format('woff2'), url('/src/assets/fonts/steppe/Steppe.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

/* Webfont: Monospaceland-ExtraLight */
@font-face {
  font-family: 'Monospaceland';
  src: url('/src/assets/fonts/monospaceland/Monospaceland-ExtraLight.woff2') format('woff2'),
    url('/src/assets/fonts/monospaceland/Monospaceland-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
