@font-face {
  font-family: 'chop-icons';
  src: url('/src/assets/icons/chop-icons.eot?426rr9');
  src: url('/src/assets/icons/chop-icons.eot?426rr9');
  src: url('/src/assets/icons/chop-icons.eot?426rr9#iefix') format('embedded-opentype'),
    url('/src/assets/icons/chop-icons.ttf?426rr9') format('truetype'), url('/src/assets/icons/chop-icons.woff?426rr9') format('woff'),
    url('/src/assets/icons/chop-icons.svg?426rr9#chop-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='chop-icon__']::before,
[class*=' chop-icon__']::before {
  font-family: 'chop-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chop-icon__heart:before {
  content: '\f004';
}
.chop-icon__star:before {
  content: '\f005';
}
.chop-icon__check:before {
  content: '\f00c';
}
.chop-icon__close:before {
  content: '\f00d';
}
.chop-icon__remove:before {
  content: '\f00d';
}
.chop-icon__times:before {
  content: '\f00d';
}
.chop-icon__clock-o:before {
  content: '\f017';
}
.chop-icon__caret-down:before {
  content: '\f0d7';
}
.chop-icon__caret-up:before {
  content: '\f0d8';
}
.chop-icon__caret-left:before {
  content: '\f0d9';
}
.chop-icon__caret-right:before {
  content: '\f0da';
}
.chop-icon__columns:before {
  content: '\f0db';
}
.chop-icon__sort:before {
  content: '\f0dc';
}
.chop-icon__unsorted:before {
  content: '\f0dc';
}
.chop-icon__sort-desc:before {
  content: '\f0dd';
}
.chop-icon__sort-down:before {
  content: '\f0dd';
}
.chop-icon__sort-asc:before {
  content: '\f0de';
}
.chop-icon__sort-up:before {
  content: '\f0de';
}
.chop-icon__plus-square:before {
  content: '\f0fe';
}
.chop-icon__pagelines:before {
  content: '\f18c';
}
.chop-icon__graduation-cap:before {
  content: '\f19d';
}
.chop-icon__mortar-board:before {
  content: '\f19d';
}
.chop-icon__delicious:before {
  content: '\f1a5';
}
.chop-icon__cube:before {
  content: '\f1b2';
}
.chop-icon__cubes:before {
  content: '\f1b3';
}
.chop-icon__tree:before {
  content: '\f1bb';
}
.chop-icon__yelp:before {
  content: '\f1e9';
}
.chop-icon__diamond:before {
  content: '\f219';
}
.chop-icon__home:before {
  content: '\e900';
}
.chop-icon__book:before {
  content: '\e91f';
}
.chop-icon__copy:before {
  content: '\e92c';
}
.chop-icon__paste:before {
  content: '\e92d';
}
.chop-icon__folder:before {
  content: '\e92f';
}
.chop-icon__folder-open:before {
  content: '\e930';
}
.chop-icon__folder-download:before {
  content: '\e933';
}
.chop-icon__folder-upload:before {
  content: '\e934';
}
.chop-icon__floppy-disk:before {
  content: '\e962';
}
.chop-icon__undo:before {
  content: '\e965';
}
.chop-icon__redo:before {
  content: '\e966';
}
.chop-icon__user:before {
  content: '\e971';
}
.chop-icon__user-plus:before {
  content: '\e973';
}
.chop-icon__user-minus:before {
  content: '\e974';
}
.chop-icon__user-check:before {
  content: '\e975';
}
.chop-icon__enlarge2:before {
  content: '\e98b';
}
.chop-icon__shrink2:before {
  content: '\e98c';
}
.chop-icon__lock:before {
  content: '\e98f';
}
.chop-icon__unlocked:before {
  content: '\e990';
}
.chop-icon__cog:before {
  content: '\e994';
}
.chop-icon__magic-wand:before {
  content: '\e997';
}
.chop-icon__bin2:before {
  content: '\e9ad';
}
.chop-icon__menu:before {
  content: '\e9bd';
}
.chop-icon__earth:before {
  content: '\e9ca';
}
.chop-icon__flag:before {
  content: '\e9cc';
}
.chop-icon__eye:before {
  content: '\e9ce';
}
.chop-icon__eye-blocked:before {
  content: '\e9d1';
}
.chop-icon__sun:before {
  content: '\e9d4';
}
.chop-icon__contrast:before {
  content: '\e9d5';
}
.chop-icon__warning:before {
  content: '\ea07';
}
.chop-icon__notification:before {
  content: '\ea08';
}
.chop-icon__question:before {
  content: '\ea09';
}
.chop-icon__cross:before {
  content: '\ea0f';
}
.chop-icon__checkmark:before {
  content: '\ea10';
}
.chop-icon__enter:before {
  content: '\ea13';
}
.chop-icon__exit:before {
  content: '\ea14';
}
.chop-icon__volume-medium:before {
  content: '\ea27';
}
.chop-icon__volume-mute2:before {
  content: '\ea2a';
}
.chop-icon__circle-up:before {
  content: '\ea41';
}
.chop-icon__circle-right:before {
  content: '\ea42';
}
.chop-icon__circle-down:before {
  content: '\ea43';
}
.chop-icon__circle-left:before {
  content: '\ea44';
}
.chop-icon__sort-alpha-asc:before {
  content: '\ea48';
}
.chop-icon__sort-alpha-desc:before {
  content: '\ea49';
}
.chop-icon__sort-numeric-asc:before {
  content: '\ea4a';
}
.chop-icon__sort-numberic-desc:before {
  content: '\ea4b';
}
.chop-icon__sort-amount-asc:before {
  content: '\ea4c';
}
.chop-icon__sort-amount-desc:before {
  content: '\ea4d';
}
.chop-icon__scissors:before {
  content: '\ea5a';
}
.chop-icon__table2:before {
  content: '\ea71';
}
.chop-icon__facebook2:before {
  content: '\ea91';
}
.chop-icon__telegram:before {
  content: '\ea95';
}
.chop-icon__youtube:before {
  content: '\ea9d';
}
.chop-icon__github:before {
  content: '\eab0';
}
.chop-icon__file-pdf:before {
  content: '\eadf';
}
.chop-icon__libreoffice:before {
  content: '\eae3';
}
.chop-icon__codepen:before {
  content: '\eae8';
}
