// Paddings, margins, gaps & radiuses
$block-gap: 1rem;
$border-radius: 0.4rem;
$default-padding: 0.6rem;
$small-padding: 0.4rem;
$big-padding: 1.2rem;
$default-margin: 0.4rem;
$small-margin: 0.2rem;
$big-margin: 1rem;

// Element heights & widths
$header-height: 5rem;
$footer-height: 2rem;
$scrollbar-width: 0.6rem;
$tab-height: 2.4rem;
$formula-preview-height: 4rem;

// Fonts
$base-font-size: 1.2rem;
$small-font-size: 1rem;
$tiny-font-size: 0.8rem;

// Screen breakpoints
$max-mobile-width: 500px;
$max-table-width: 768px;
$max-small-screen-width: 1208px;
