// Gaps & radiuses
$block-gap: 1rem;
$border-radius: 0.4rem;
$default-padding: 0.6rem;

// Heights
$header-height: 5rem;
$footer-height: 2rem;

// Fonts
$base-font-size: 1.2rem;
$footer-font-size: 0.8rem;
