@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizes.scss';
@import 'styles/mixins/theme-colors.scss';

.layout {
  // Common styles
  font-family: $Regular;
  font-size: $base-font-size;
  overflow-x: hidden; // to prevent scroll during the animation

  // Grid template
  display: grid;
  grid-gap: $block-gap;
  height: 100%;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-rows: $header-height auto $footer-height;
  grid-template-areas:
    'page-header  page-header  page-header'
    'page-navigation page-content page-sidebar'
    'page-footer  page-footer  page-footer';

  // Grid areas
  &__header {
    grid-area: page-header;
  }

  &__footer {
    grid-area: page-footer;
  }

  &__main {
    grid-area: page-content;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__navigation {
    grid-area: page-navigation;
    border-bottom-right-radius: $border-radius;
  }

  &__sidebar {
    grid-area: page-sidebar;
    border-bottom-left-radius: $border-radius;
  }

  // Defaults colors
  @include layout-colors(light);
  &__header,
  &__main,
  &__navigation,
  &__sidebar {
    box-shadow: $light-box-shadow;
  }

  // Dark mode colors
  &_dark {
    @include layout-colors(dark);
  }
  &__header_dark,
  &__main_dark,
  &__navigation_dark,
  &__sidebar_dark {
    box-shadow: $dark-box-shadow;
  }
}
