@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizes.scss';
@import 'styles/z-indexes.scss';
@import 'styles/mixins/theme-colors.scss';
@import 'styles/mixins/scrollbar-styles.scss';

.layout {
  // Common styles
  font-family: $Regular;
  font-size: $base-font-size;
  overflow-x: hidden; // to prevent scroll during the animation

  // Grid template
  display: grid;
  grid-gap: $block-gap;
  height: 100%;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-rows: $header-height auto $footer-height;
  grid-template-areas:
    'page-header page-header page-header'
    'page-navigation page-content page-sidebar'
    'page-footer page-footer page-footer';

  // Grid areas
  &__header {
    grid-area: page-header;
  }

  &__footer {
    grid-area: page-footer;
  }

  &__main {
    grid-area: page-content;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    overflow: auto;
    padding: $big-padding;
  }

  &__navigation {
    grid-area: page-navigation;
    border-bottom-right-radius: $border-radius;
    overflow: auto;
    padding: $big-padding;
  }

  &__sidebar {
    grid-area: page-sidebar;
    border-bottom-left-radius: $border-radius;
    overflow: auto;
    padding: $big-padding;
  }

  // Defaults colors
  @include layout-colors(light);
  &__header,
  &__main,
  &__navigation,
  &__sidebar {
    box-shadow: $light-box-shadow;
    @include scrollbar-styles(light);
  }

  // Dark mode colors
  &_dark {
    @include layout-colors(dark);
  }
  &__header_dark,
  &__main_dark,
  &__navigation_dark,
  &__sidebar_dark {
    box-shadow: $dark-box-shadow;
    @include scrollbar-styles(dark);
  }

  // Small screen styles
  @media (max-width: $max-small-screen-width) {
    grid-template-columns: 0.5fr 11fr 0.5fr;

    &__navigation,
    &__sidebar {
      position: absolute;
      top: $header-height + $block-gap;
      z-index: $panel-z-index;
      background-color: $light-background-color;
      &_dark {
        background-color: $dark-background-color;
      }
    }

    &__navigation {
      left: 0;
    }

    &__sidebar {
      right: 0;
    }
  }

  // Tablet screen styles
  @media (max-width: $max-table-width) {
    grid-template-columns: 0.2fr 11.6fr 0.2fr;
  }

  // Mobile screen styles
  @media (max-width: $max-mobile-width) {
    grid-template-columns: 0.1fr 11.8fr 0.1fr;
  }
}
