@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizes.scss';
@import 'styles/z-indexes.scss';

.layout {
  // Common styles
  font-family: $Regular;
  font-size: $base-font-size;
  color: $light-font-color;
  background-color: $light-background-color;
  overflow-x: hidden; // to prevent scroll during the animation

  // Grid template
  display: grid;
  grid-gap: $block-gap;
  height: 100%;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-rows: $header-height auto $footer-height;
  grid-template-areas:
    'page-header  page-header  page-header'
    'page-navigation page-content page-sidebar'
    'page-footer  page-footer  page-footer';

  // Grid areas
  &__header {
    grid-area: page-header;
    box-shadow: $light-box-shadow;
  }

  &__footer {
    grid-area: page-footer;
  }

  &__main {
    grid-area: page-content;
    box-shadow: $light-box-shadow;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__navigation {
    grid-area: page-navigation;
    box-shadow: $light-box-shadow;
    border-bottom-right-radius: $border-radius;
  }

  &__sidebar {
    grid-area: page-sidebar;
    box-shadow: $light-box-shadow;
    border-bottom-left-radius: $border-radius;
  }
}
