@mixin pop-out-modal {
  animation: pop-out-modal ease 600ms forwards;
  -webkit-animation: pop-out-modal ease 600ms forwards;
  -moz-animation: pop-out-modal ease 600ms forwards;
}

@keyframes pop-out-modal {
  from {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
  to {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
}

@-moz-keyframes pop-out-modal {
  from {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
  to {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
}

@-webkit-keyframes pop-out-modal {
  from {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
  to {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
}
