@mixin pop-out-modal {
  animation: pop-out-modal ease 400ms forwards;
  -webkit-animation: pop-out-modal ease 400ms forwards;
  -moz-animation: pop-out-modal ease 400ms forwards;
}

@keyframes pop-out-modal {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@-moz-keyframes pop-out-modal {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes pop-out-modal {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
