@mixin pop-in-modal {
  animation: pop-in-modal ease 200ms;
  -webkit-animation: pop-in-modal ease 200ms;
  -moz-animation: pop-in-modal ease 200ms;
}

@keyframes pop-in-modal {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@-moz-keyframes pop-in-modal {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@-webkit-keyframes pop-in-modal {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
