@mixin slide-out-bottom {
  animation: slide-out-bottom ease 300ms;
  -webkit-animation: slide-out-bottom ease 300ms;
  -moz-animation: slide-out-bottom ease 300ms;
}

@keyframes slide-out-bottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@-moz-keyframes slide-out-bottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slide-out-bottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
