@mixin slide-in-left {
  animation: slide-in-left ease 600ms;
  -webkit-animation: slide-in-left ease 600ms;
  -moz-animation: slide-in-left ease 600ms;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@-moz-keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
