@mixin slide-out-left {
  animation: slide-out-left ease 1000ms;
  -webkit-animation: slide-out-left ease 1000ms;
  -moz-animation: slide-out-left ease 1000ms;
}

@keyframes slide-out-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@-moz-keyframes slide-out-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
