@mixin slide-in-modal {
  animation: slide-in-modal ease 1000ms;
  -webkit-animation: slide-in-modal ease 1000ms;
  -moz-animation: slide-in-modal ease 1000ms;
}

@keyframes slide-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@-moz-keyframes slide-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@-webkit-keyframes slide-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}
