@import 'styles/colors.scss';
@import 'styles/z-indexes.scss';

@keyframes slide-in-navigation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.navigation {
  animation: slide-in-navigation 1000ms;
}
