@import 'styles/variables/colors.scss';
@import 'styles/variables/z-indexes.scss';
@import 'styles/variables/sizes.scss';
@import 'styles/mixins/text-styles.scss';
@import 'styles/animations/slide-in-left.scss';
@import 'styles/animations/slide-out-left.scss';

.navigation {
  @include slide-in-left();
  position: absolute;
  left: 0;
  top: $header-height;
  background-color: $light-background-color;
  z-index: $sidebar-z-index;

  &_closing {
    @include slide-out-left();
  }

  &__header {
    @include header-styles();
  }

  &__list {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      padding: $default-padding 0;
      font-size: $small-font-size;
    }
  }

  &__nested-list {
    list-style: none;
    text-align: center;
    padding: 0;
    border: $light-border;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.6rem auto 0 auto;
    li {
      font-size: $small-font-size;
      padding: 0.6rem;
    }
  }

  // Small screen styles
  @media (max-width: $max-small-screen-width) {
    li {
      font-size: $base-font-size;
    }
  }

  &_dark {
    background-color: $dark-background-color;
    .navigation__nested-list {
      border: $dark-border;
    }
  }
}
