@import 'styles/variables/sizes.scss';
@import 'styles/variables/z-indexes.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $page-padding;
  z-index: $header-z-index;

  &__left-panel {
    display: flex;
    align-items: center;
    gap: $block-gap;
  }

  &__right-panel {
    display: flex;
    gap: $block-gap;
  }

  &__heading {
    font-size: $header-font-size;
  }
}
