// Light theme colors
$light-font-color: hsl(224, 26%, 17%);
$light-strong-accent-color: hsl(3, 92%, 69%);
$light-weak-accent-color: hsl(62, 64%, 56%);
$light-background-color: hsl(144, 16%, 94%);
$light-modal-background-color: rgba(87, 196, 229, 0.2);
$light-foreground-color: hsla(194, 73%, 62%, 0.3);
$light-box-shadow: 0.25rem 0.5rem 0.5rem hsla(224, 26%, 17%, 0.3);
$light-button-shadow: 0.125rem 0.25rem 0.25rem hsla(224, 26%, 17%, 0.3);
$light-text-shadow: 0.125rem 0.25rem 0.25rem hsl(62, 64%, 56%);
$light-outline: hsl(62, 64%, 56%) dashed 0.125rem;
$light-border: hsl(62, 64%, 56%) solid 0.01rem;
$light-weak-border: hsla(194, 73%, 62%) solid 0.01rem;

// Dark theme colors
$dark-font-color: hsl(185, 7%, 65%);
$dark-background-color: hsl(315, 77%, 5%);
$dark-modal-background-color: hsla(185, 7%, 65%, 0.2);
$dark-foreground-color: hsl(305, 89%, 11%);
$dark-weak-accent-color: hsl(300, 64%, 20%);
$dark-strong-accent-color: hsl(145, 45%, 72%);
$dark-box-shadow: 0.25rem 0.5rem 0.5rem hsl(185, 7%, 65%, 0.3);
$dark-button-shadow: 0.125rem 0.25rem 0.25rem hsl(185, 7%, 65%, 0.3);
$dark-text-shadow: 0.125rem 0.25rem 0.25rem hsl(300, 64%, 20%);
$dark-outline: hsl(300, 64%, 20%) dashed 0.125rem;
$dark-border: hsl(300, 64%, 20%) solid 0.01rem;
$dark-weak-border: hsl(305, 89%, 11%) solid 0.01rem;

// Syntax highlighting colors
$light-operator-color: hsl(3, 98%, 64%);
$light-parentheses-color: hsl(194, 73%, 62%);

$dark-operator-color: hsl(145, 70%, 68%);
$dark-parentheses-color: hsl(189, 4%, 37%);
