@import 'styles/variables/colors.scss';
@import 'styles/variables/sizes.scss';
@import 'styles/animations/slide-in-right.scss';
@import 'styles/animations/slide-out-right.scss';

.sidebar {
  @include slide-in-right();

  &_closing {
    @include slide-out-right();
  }

  &__list {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 1rem;
    }
  }

  &__button-span {
    font-size: $small-font-size;
    padding-left: 0.6rem;
  }
}
