@import 'styles/colors.scss';

@keyframes slide-in-sidebar {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.sidebar {
  animation: slide-in-sidebar 1000ms;
}
