@import 'styles/sizes.scss';
@import 'styles/mixins/link-styles.scss';

.footer {
  font-size: $small-font-size;
  display: grid;
  align-items: center;
  grid-template-areas: '. footer-copyright footer-links .';
  grid-template-columns: 2fr 5fr 5fr 2fr;

  &__copyright {
    grid-area: footer-copyright;
    padding-left: $block-gap;
  }

  &__links {
    grid-area: footer-links;
    justify-self: right;
    padding-right: $block-gap;
    @include link-styles(light);

    &_dark {
      @include link-styles(dark);
    }

    a {
      margin-left: $big-margin;
    }
  }

  // Small screen styles
  @media (max-width: $max-small-screen-width) {
    grid-template-columns: 0.5fr 5fr 5fr 0.5fr;
  }

  // Tablet screen styles
  @media (max-width: $max-table-width) {
    grid-template-columns: 0.2fr 5fr 5fr 0.2fr;
  }
}
