@import 'styles/sizes.scss';

.footer {
  font-size: $small-font-size;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas: '. footer-copyright footer-links .';
  grid-template-columns: 2fr 5fr 5fr 2fr;

  &__copyright {
    grid-area: footer-copyright;
  }

  &__links {
    grid-area: footer-links;
  }
}
