@import 'styles/variables/sizes.scss';
@import 'styles/variables/colors.scss';
@import 'styles/mixins/input-styles.scss';

.checkbox-input {
  padding: $default-padding 0;
  position: relative;

  &__default {
    // Hide the default checkbox
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: $big-padding;
    left: 0;

    // Styles for the focused checkbox
    &:focus-visible + label::before {
      outline: $light-outline;
    }

    &_dark {
      &:focus-visible + label::before {
        outline: $dark-outline;
      }
    }
  }

  &__label {
    font-size: $base-font-size;
    display: flex;
    align-items: center;
    padding: 0;

    .label__text {
      margin-left: $default-margin;
      padding-top: $small-padding;
    }

    &:hover {
      text-shadow: $light-text-shadow;
    }

    &::before {
      color: $light-strong-accent-color;
      cursor: pointer;
    }

    &_dark {
      &::before {
        color: $dark-strong-accent-color;
      }

      &:hover {
        text-shadow: $dark-text-shadow;
      }
    }
  }

  &_disabled {
    @include input-disabled-styles();
  }
}
