@import 'styles/variables/colors.scss';

.show-more-button {
  border: none;
  cursor: pointer;
  background-color: $light-background-color;
  color: $light-font-color;
  text-align: center;
  vertical-align: top;

  &:hover {
    color: $light-strong-accent-color;
  }

  &--dark {
    background-color: $dark-background-color;
    color: $dark-font-color;

    &:hover {
      color: $dark-strong-accent-color;
    }
  }
}
