@import 'styles/sizes.scss';

.implication-creation-form {
  padding: $default-padding;
  min-width: $min-popup-form-width;

  &__input {
    margin: $big-padding 0;
  }

  &__formula {
    text-align: center;
  }
}
