@import 'styles/sizes.scss';
@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.table {
  border-collapse: collapse;

  &__cell {
    text-align: center;
    padding: $default-padding;
    border: $light-border;
  }

  // Remove side borders
  & &__row &__cell:first-child {
    border-left: none;
  }
  & &__row &__cell:last-child {
    border-right: none;
  }

  &__row {
    &_selected {
      background-color: $light-foreground-color;
    }
  }

  &__checkbox {
    padding: 0;
    .checkbox-input__default {
      top: 0;
      left: 0;
    }
    .label__text {
      padding: 0;
      margin: 0;
    }
  }
}
