@import 'styles/variables/sizes.scss';
@import 'styles/variables/colors.scss';
@import 'styles/mixins/scrollbar-styles.scss';
@import 'styles/fonts.scss';
@import 'styles/mixins/page-styles.scss';

.direct-proofs-editor {
  position: relative;
  width: 100%;

  &__table {
    @include scrollbar-styles(light);
    @include proof-table-styles();
  }

  &__toolbar {
    @include toolbar-styles(2, 4);
    background-color: $light-background-color;
  }

  &__filler {
    margin-top: $big-margin;
  }

  // Dark styles
  &_dark {
    .direct-proofs-editor__table {
      @include scrollbar-styles(dark);
    }

    .direct-proofs-editor__toolbar {
      background-color: $dark-background-color;
    }
  }
}
