@import 'styles/colors.scss';
@import 'styles/sizes.scss';
@import 'styles/z-indexes.scss';

.tooltip {
  position: relative;

  &__container {
    position: absolute;
    z-index: $tooltip-z-index;
    border-radius: $border-radius;
    font-size: $tiny-font-size;
    background-color: $light-font-color;
    color: $light-background-color;
    padding: $small-padding;
    opacity: 0.6;

    top: -38px;

    &_visible {
      display: block;
    }
  }
}
