@import 'styles/variables/colors.scss';
@import 'styles/variables/z-indexes.scss';
@import 'styles/variables/sizes.scss';
@import 'styles/mixins/text-styles.scss';
@import 'styles/mixins/scrollbar-styles.scss';
@import 'styles/animations/fade-in.scss';
@import 'styles/animations/fade-out.scss';

.propositions-toolbar {
  position: absolute;
  right: 54px;
  top: 174px;
  background-color: $light-background-color;
  z-index: $sidebar-z-index;
  min-width: 16rem;
  padding: $big-padding;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: $light-box-shadow;
  @include scrollbar-styles(light);
  @include fade-in();

  &_closing {
    @include fade-out();
  }

  &_dark {
    background-color: $dark-background-color;
    box-shadow: $dark-box-shadow;
  }

  &__list {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 1rem;
    }
  }
}
