@import 'styles/mixins/page-styles.scss';
@import 'styles/variables/sizes.scss';

.truth-tables {
  @include propositions-proofs-editor-styles();

  &_operands {
    margin-top: $big-margin;
    .table__cell {
      width: 4rem;
    }
  }

  &_laws {
    margin: $big-margin 0;

    li {
      margin: $big-margin 0;
    }
  }
}
