@import 'styles/variables/sizes.scss';

@mixin propositionsFormStyles() {
  padding: $default-padding;
  min-width: $min-popup-form-width;
  overflow-x: hidden;

  &__input {
    margin: $big-padding 0;
  }

  &__formula {
    text-align: center;
  }
}
