@import 'styles/variables/z-indexes.scss';
@import 'styles/variables/sizes.scss';
@import 'styles/mixins/text-styles.scss';
@import 'styles/variables/colors.scss';
@import 'styles/fonts.scss';

@mixin toolbar-styles($rows, $columns) {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: $panel-z-index;

  display: grid;
  grid-template-rows: repeat($rows, 1fr);
  grid-template-columns: repeat($columns, 1fr);
  column-gap: $default-margin;
  row-gap: $big-margin;
  align-items: center;
  justify-items: center;
  padding-top: $default-padding;
}

@mixin proof-table-styles() {
  position: absolute;
  width: 100%;
  margin-bottom: 1rem;
  max-height: calc(100% - $max-toolbar-height);
  height: calc(100% - $max-toolbar-height);
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: flex-start;

  td.table__cell {
    font-family: $Monospace;
  }

  & > table > tbody > tr > td:nth-child(3n) {
    text-align: left;
    max-width: 51vw;
    overflow-x: auto;
  }
}

@mixin propositions-proofs-editor-styles() {
  height: 100%;
  display: grid;
  grid-template-rows: auto;

  &__title {
    font-size: $tiny-font-size;
    padding: 0;
    text-align: right;
    margin-right: 1rem;

    &::before {
      margin-right: $default-margin;
    }
  }

  &__tabs {
    .tab-list__tab {
      font-size: $small-font-size;
    }

    .tab-list__content {
      display: flex;
      justify-content: start;
      border-bottom: none;
      padding-bottom: 0;
      height: 90%;
    }
  }

  @media (min-height: $min-big-screen-height) {
    .tab-list__content {
      height: 92%;
    }
  }
}

@mixin text-definitions-styles() {
  dfn {
    font-style: normal;
    font-weight: bold;
  }

  hr {
    margin: $big-margin 0;
    border: $light-border;
  }

  ol {
    list-style-type: lower-alpha;
  }

  &_definition-block {
    padding: 0 $big-padding;
  }

  &__centered {
    margin: $default-margin auto;
    padding: $default-padding;
    width: fit-content;
    border: $light-weak-border;
  }

  .katex {
    font-family: $Regular;
    line-height: normal;
    text-shadow: $light-text-shadow;
  }

  &__dark {
    hr {
      border: $dark-border;
    }

    .katex {
      text-shadow: $dark-text-shadow;
    }
  }
}
