@import 'styles/colors.scss';
@import 'styles/sizes.scss';
@import 'styles/z-indexes.scss';

.tab-list {
  &__tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $big-margin;
  }

  &__tab {
    cursor: pointer;
    position: relative;
    height: $tab-height;
    padding: $small-padding $default-padding;
    border-radius: $border-radius;
    margin-right: $default-margin;
    box-shadow: $light-button-shadow;
    z-index: $base-z-index;

    &:hover {
      top: 0.2rem;
    }

    &_active {
      background-color: $light-foreground-color;
      height: $tab-height;
      top: 0.2rem;
      z-index: $panel-z-index;
    }
  }

  &__content {
    padding: $default-padding 0;
    border-bottom: $light-border;
    border-top: $light-border;
  }

  // Dark styles
  &_dark {
    .tab-list__tab {
      box-shadow: $dark-button-shadow;

      &_active {
        background-color: $dark-foreground-color;
      }
    }

    .tab-list__content {
      border-bottom: $dark-border;
      border-top: $dark-border;
    }
  }

  // Vertical tabs
  &_vertical {
    display: flex;

    .tab-list__tabs {
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: $small-margin;
      margin-top: $small-margin;
    }

    .tab-list__tab {
      display: inline-flex;
      align-items: center;
      width: max-content;
      margin-right: 0;
      margin-bottom: $big-margin;
      border-radius: $border-radius;
      padding: $default-padding $small-padding;

      &:hover {
        top: 0;
        left: 0.2rem;
      }

      &_active {
        top: 0;
        left: 0.2rem;
        z-index: $panel-z-index;
      }
    }

    .tab-list__content {
      width: 100%;
      padding: $default-padding $default-padding $default-padding $big-padding;
    }
  }
}
